html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

a {
  background: 0 0; }

a:active, a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: .67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code, kbd, pre, samp {
  font-family: monospace,monospace;
  font-size: 1em; }

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button, select {
  text-transform: none; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], html input[disabled] {
  cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  height: auto; }

input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: 700; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url(//themes.googleusercontent.com/static/fonts/opensans/v8/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff) format("woff"); }

@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/firasans/v10/va9E4kDNxMZdWfMOD5Vvl4jL.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }

@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/firasans/v10/va9C4kDNxMZdWfMOD5VvkrjJYTI.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }

.gigantic, .huge, .large, .bigger, .big,
h1, h2, h3, h4, h5, h6 {
  color: #45464B;
  font-weight: bold; }

.gigantic {
  font-size: 110px;
  line-height: 1.09;
  letter-spacing: -2px; }

.huge, h1 {
  font-size: 68px;
  line-height: 1.05;
  letter-spacing: -1px; }

.large, h2 {
  font-size: 42px;
  line-height: 1.14; }

.bigger, h3 {
  font-size: 26px;
  line-height: 1.38; }

.big, h4 {
  font-size: 22px;
  line-height: 1.38; }

.small, small {
  font-size: 10px;
  line-height: 1.2; }

p {
  margin: 0 0 20px 0; }

em {
  font-style: italic; }

strong {
  font-weight: bold; }

hr {
  border: solid #ddd;
  border-width: 1px 0 0;
  clear: both;
  margin: 10px 0 30px;
  height: 0; }

a {
  color: #45464B;
  text-decoration: none;
  outline: 0; }

a:hover, a:focus {
  color: #767880; }

::-moz-selection {
  background: #FFF498; }

::selection {
  background: #FFF498; }

::-moz-selection {
  background: #FFF498; }

img::-moz-selection {
  background: transparent; }

img::selection {
  background: transparent; }

img::-moz-selection {
  background: transparent; }

body {
  -webkit-tap-highlight-color: #FFF498; }

body {
  background: #F6F6F8;
  font-size: 16px;
  line-height: 1.6;
  font-family: 'Fira Sans', sans-serif;
  color: #2E2D33;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%; }

section.hero .heading {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center; }

section.hero h2 {
  color: #fff;
  font-size: 60px;
  font-weight: 400;
  margin-top: 0; }

section.hero .home-lead {
  color: #fff; }

section.hero .headshot {
  position: relative; }
  section.hero .headshot:before, section.hero .headshot:after {
    content: '';
    position: absolute; }
  section.hero .headshot:before {
    left: 75px;
    top: 100px;
    height: 100%;
    width: 100%;
    background: #45464B;
    box-shadow: 2px 2px 10px 0px black; }
  section.hero .headshot:after {
    left: 37.5px;
    top: 50px;
    height: 100%;
    width: 100%;
    background: #0A3370;
    box-shadow: 2px 2px 10px 0px black; }
  section.hero .headshot img {
    height: 400px;
    box-shadow: 2px 2px 10px 0px black;
    position: relative;
    z-index: 1; }

@media (max-width: 1270px) {
  section.hero h2 {
    margin-right: 20px; }
  section.hero .headshot img {
    height: 200px; }
  section.hero .headshot:before, section.hero .headshot:after {
    display: none; } }

@media (max-width: 800px) {
  section.hero h2 {
    margin-left: 1em; } }

@media (max-width: 640px) {
  section.hero {
    padding-bottom: 4em !important; }
    section.hero h2, section.hero .home-lead {
      margin-left: auto;
      margin-right: auto; }
    section.hero h2 {
      font-size: 3rem; }
    section.hero .home-lead {
      font-size: 1.8rem; }
    section.hero .headshot {
      -ms-flex-align: center;
          align-items: center; }
      section.hero .headshot img {
        display: block;
        margin: 20px auto; } }

section.about {
  padding-top: 75px !important; }
  section.about .col-1 {
    padding: 0em 2em 2em 4em;
    max-width: 600px;
    background: linear-gradient(70deg, rgba(69, 70, 75, 0.4), rgba(69, 70, 75, 0.8));
    border: solid 4px black;
    color: white; }
  section.about h2 {
    display: inline-block;
    position: relative;
    font-size: 2rem;
    transform: translateX(-50%);
    margin-left: -4rem;
    margin-top: -3rem;
    z-index: 0;
    background-color: #d0e1fb;
    border: solid 2px black;
    border-radius: 4px;
    padding: 1.2rem; }

@media (max-width: 1270px) {
  section.about h2 {
    font-size: 2.4rem; }
  section.about .col-1 {
    margin-left: 4rem; } }

@media (max-width: 800px) {
  section.about h2 {
    font-size: 2rem;
    margin-left: 0; } }

@media (max-width: 640px) {
  section.about {
    padding-top: 8em !important; }
    section.about .col-1 {
      padding: .8rem;
      width: 80%;
      margin: 0 auto; }
      section.about .col-1 h2 {
        display: block;
        transform: none;
        text-align: center;
        margin: 0 auto;
        margin-top: -75px; }
      section.about .col-1 p {
        margin-top: 2em; } }

section.photos {
  position: relative;
  padding-top: 100px !important; }
  section.photos .col-1.section-header {
    margin-left: -4em;
    margin-right: 4em;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center; }
  section.photos h2 {
    font-size: 4em;
    position: relative;
    left: 2rem;
    z-index: 0; }
    section.photos h2:before {
      content: 'Photo';
      color: white;
      position: absolute;
      left: -2rem;
      top: -2rem;
      z-index: -1; }
  section.photos .section-link {
    float: right; }
  section.photos .gallery {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    section.photos .gallery .flex-container {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: column;
          flex-direction: column; }
    section.photos .gallery--item {
      margin: .4rem;
      height: 100%; }
      section.photos .gallery--item img {
        height: 200px;
        border: solid 8px #fff; }
    section.photos .gallery .tall img {
      height: 300px; }

@media (max-width: 1270px) {
  section.photos .section-link {
    margin-top: 0;
    font-size: 1.2rem; }
  section.photos .flex {
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: center;
        align-items: center; }
  section.photos .col-1.section-header {
    margin-left: 2em; }
  section.photos .gallery {
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-order: -1;
        order: -1; }
    section.photos .gallery--item {
      margin: 4px; }
      section.photos .gallery--item img {
        height: 175px; }
    section.photos .gallery .tall img {
      height: 225px; } }

@media (max-width: 640px) {
  section.photos .flex {
    display: -ms-flexbox;
    display: flex; }
  section.photos .gallery--item {
    padding: 0; }
    section.photos .gallery--item img {
      border-width: 2px; } }

section.reel .col-1 h2 {
  color: white;
  font-size: 4em;
  position: relative;
  left: 2rem;
  z-index: 0; }
  section.reel .col-1 h2:before {
    content: 'Reel';
    color: #45464B;
    position: absolute;
    left: -2rem;
    top: -2rem;
    z-index: -1; }

section.reel .col-1.section-header {
  margin-left: -4em;
  margin-right: 4em;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center; }

section.reel .col-1:last-child {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  margin-left: 12em; }
  section.reel .col-1:last-child .video-container {
    height: 0;
    width: 450px;
    overflow: hidden;
    padding-bottom: 54%;
    position: relative;
    border: solid 8px #434449; }
  section.reel .col-1:last-child .video-container iframe,
  section.reel .col-1:last-child .video-container object,
  section.reel .col-1:last-child .video-container embed,
  section.reel .col-1:last-child .video-container video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%; }

@media (max-width: 1270px) {
  section.reel .section-link {
    margin-top: 0;
    font-size: 1.2rem; }
  section.reel .flex {
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: center;
        align-items: center; }
  section.reel .col-1.section-header {
    margin-left: 2em; }
  section.reel .col-1:last-child {
    -ms-flex-order: -1;
        order: -1;
    margin-left: 0; } }

@media (max-width: 640px) {
  section.reel .flex {
    display: -ms-flexbox;
    display: flex; } }

.home-wrap header {
  width: 250px;
  background: white;
  padding-top: 30px 0;
  font-size: 2rem;
  border-right: solid 2px #45464B; }
  .home-wrap header .header-position {
    position: fixed;
    top: 30px;
    left: 0;
    bottom: 30px;
    width: 250px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: justify;
        justify-content: space-between; }
  .home-wrap header .logo {
    max-width: 135px;
    text-indent: 101%;
    white-space: nowrap;
    overflow: hidden;
    background-blend-mode: multiply;
    height: 80px;
    padding: 0;
    margin: 0; }
  .home-wrap header .site-nav ul {
    list-style: none;
    margin: 20px 0;
    padding: 0 20px 0 0;
    text-align: right; }
    .home-wrap header .site-nav ul li {
      margin-bottom: 10px; }
      .home-wrap header .site-nav ul li:last-child {
        margin-bottom: 0; }
  .home-wrap header .email-link {
    display: block;
    text-align: right;
    padding-right: 20px; }
  .home-wrap header .mobile-nav-toggle {
    z-index: 1;
    display: none;
    width: 50px;
    height: 50px;
    margin-right: 20px;
    -ms-flex-align: center;
        align-items: center;
    transition: all .3s ease-in-out;
    cursor: pointer; }
    .home-wrap header .mobile-nav-toggle span,
    .home-wrap header .mobile-nav-toggle span:before,
    .home-wrap header .mobile-nav-toggle span:after {
      content: '';
      display: block;
      height: 2px;
      width: 100%;
      background: #333;
      position: relative;
      transition: all 0.3s ease-in-out; }
    .home-wrap header .mobile-nav-toggle span:before {
      top: 15px; }
    .home-wrap header .mobile-nav-toggle span:after {
      top: -17px; }
    .home-wrap header .mobile-nav-toggle.is-open {
      transform: rotate(180deg); }
    .home-wrap header .mobile-nav-toggle.is-open span {
      background: transparent; }
    .home-wrap header .mobile-nav-toggle.is-open span:before,
    .home-wrap header .mobile-nav-toggle.is-open span:after {
      transform-origin: center;
      transform: rotate(45deg);
      top: 0; }
    .home-wrap header .mobile-nav-toggle.is-open span:after {
      transform: rotate(-45deg); }

.home-wrap .mobile-nav {
  position: absolute;
  width: 100%;
  background: white;
  padding: 30px 0 20px;
  transform: translateY(-100%);
  transition: all .3s ease-in-out;
  z-index: 1; }
  .home-wrap .mobile-nav ul {
    list-style: none;
    margin: 0;
    padding: 0; }
    .home-wrap .mobile-nav ul li {
      text-align: center;
      margin-bottom: 10px; }

@media (max-width: 1270px) {
  .home-wrap header {
    width: calc(250px * .7); }
    .home-wrap header .header-position {
      width: calc(250px * .7); } }

@media (max-width: 775px) {
  .home-wrap header {
    width: auto;
    padding: 20px 0; }
    .home-wrap header .header-position {
      width: auto;
      position: relative;
      top: auto;
      bottom: auto;
      left: auto;
      -ms-flex-direction: row;
          flex-direction: row;
      -ms-flex-align: center;
          align-items: center; }
    .home-wrap header .site-nav, .home-wrap header .email-link {
      display: none; }
    .home-wrap header .mobile-nav-toggle {
      display: -ms-flexbox;
      display: flex; }
  .home-wrap .mobile-nav.is-open {
    transform: translateY(0%); } }

.section-link {
  display: inline-block;
  background-color: #fff;
  padding: 1em;
  color: #0A3370;
  margin-top: 2em;
  transition: all .2s 0s ease-in-out; }

section.social .col-2 a {
  font-size: 4rem;
  margin-right: 2em; }
  section.social .col-2 a:last-child {
    margin-right: 0; }

section.hero {
  position: relative; }
  section.hero .col-2 {
    position: absolute;
    bottom: -3rem;
    left: 45%;
    margin: 0;
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center; }
    @media (max-width: 1270px) {
      section.hero .col-2 {
        left: 50%;
        transform: translateX(-50%); } }
    @media (max-width: 640px) {
      section.hero .col-2 {
        bottom: -1rem; } }
    section.hero .col-2 a {
      text-shadow: #0A3370 4px 4px;
      display: block;
      font-size: 4rem;
      margin-right: 4%;
      color: white; }
      section.hero .col-2 a:last-child {
        margin-right: 0; }

.go-back {
  position: fixed;
  top: 0;
  left: 0;
  margin-left: 2em; }
  .go-back a {
    font-size: 3rem;
    color: white; }

.home-wrap {
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh; }
  @media (max-width: 775px) {
    .home-wrap {
      display: block; } }

.home-sections {
  overflow-x: hidden;
  -ms-flex: 1;
      flex: 1; }
  .home-sections section {
    background: linear-gradient(-45deg, rgba(48, 183, 236, 0.4), rgba(10, 51, 112, 0.8));
    padding: 50px 0; }
    .home-sections section.odd {
      background: linear-gradient(-70deg, rgba(69, 70, 75, 0.4), rgba(69, 70, 75, 0.8)); }
  .home-sections .flex {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row; }
  .home-sections .flex--center {
    -ms-flex-pack: center;
        justify-content: center; }
  .home-sections .flex--space-around {
    -ms-flex-pack: distribute;
        justify-content: space-around; }
  .home-sections .order-first {
    -ms-flex-order: -1;
        order: -1; }

.col-1 {
  max-width: 600px;
  margin: 0 10px; }

.col-2 {
  max-width: 620px;
  margin: 0 10px; }

.col-50 {
  width: 50%; }

.push-right {
  margin-left: 330px; }

@media (max-width: 640px) {
  .home-sections .flex {
    display: block; }
  .col-1 {
    max-width: 100%; }
  .col-50 {
    width: auto; }
  .push-right {
    margin-left: 10px; } }

.home-lead {
  font-size: 36px;
  line-height: 1.1; }

.cool-line {
  display: block;
  background: #0A3370;
  width: 300px;
  height: 14px; }

.resume-wrap {
  background: linear-gradient(45deg, #45464B, #1155bb);
  width: 100%;
  min-height: 100vh;
  padding-top: 1em; }
  .resume-wrap h1 {
    color: white;
    background: linear-gradient(45deg, #45464B, #1155bb);
    padding: 1.2em 0;
    border-top: solid 2px #45464B;
    border-bottom: solid 2px #45464B;
    width: 100%;
    text-align: center;
    margin-top: 10px; }
  .resume-wrap .resume--container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 auto;
    width: auto; }
    .resume-wrap .resume--container .resume--item {
      border-left: solid 6px white;
      padding-left: 1em;
      margin-bottom: 1em;
      width: 200px; }
      .resume-wrap .resume--container .resume--item:last-child {
        margin-right: 0; }
      .resume-wrap .resume--container .resume--item h3 {
        text-align: center; }
        .resume-wrap .resume--container .resume--item h3 i {
          font-size: 3em;
          margin-bottom: 1rem; }
      .resume-wrap .resume--container .resume--item p {
        color: #e8e8e8; }
  .resume-wrap h3, .resume-wrap p {
    color: white; }
